@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
    <style>
        @@media (max-width: 767.98px) {
            .btn-actualizar-campos {
                width: 100% !important;
                text-align: center;
                display: block;
            }
        }
    </style>
}

<div class="container mt-4">
    <h3>Bienvenido</h3>
    <div class="alert alert-info" role="alert">
        En esta Sección podrá modificar su contraseña y otros datos.
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <div class="row">
                <!-- Columna Izquierda -->
                <div class="col-md-6">
                    <div class="form-group mb-2">
                        <label for="NombresCompletosUsuario" class="form-label mb-2">Nombres Completo</label>
                        <input type="text" class="form-control" id="NombresCompletosUsuario" readonly>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="TipoDocumentoUsuario" class="form-label mb-2">Tipo de Documento</label>
                                <input type="text" class="form-control" id="TipoDocumentoUsuario" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="DniUsuario" class="form-label mb-2">DNI</label>
                                <input type="text" class="form-control" id="DniUsuario" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="RolUsuario" class="form-label mb-2">Rol</label>
                                <input type="text" class="form-control" id="RolUsuario" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="NombreCampaniaUsuario" class="form-label">Nombre Campaña</label>
                                <input type="text" class="form-control" id="NombreCampaniaUsuario" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-2">
                        <label for="ContrasenaUsuario" class="form-label">Contraseña</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="ContrasenaUsuario" readonly>
                            <button class="btn btn-primary" onclick="updatePasswordView()" id="UpdatePasswordButtonView">Actualizar Contraseña</button>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <div class="row mb-2" style="display: none;" id="AlertUpdatePassword">
                            <label for="ContrasenaNueva" class="form-label mb-1">Ingrese la nueva contraseña</label>
                            <div class="col-md-12">
                                <input type="password" class="form-control" id="ContrasenaNueva">
                            </div>
                            <div class="col-md-12 mt-2">
                                <button class="btn btn-success w-100 text-center" onclick="updatePasswordSubmit()" id="UpdatePasswordButtonSubmit" style="display: none;">Confirmar Nueva Contraseña</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Columna Derecha -->
                <div class="col-md-6">
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="CorreoUsuario" class="form-label mb-2">Correo</label>
                                <input type="email" class="form-control" id="CorreoUsuario">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="TelefonoUsuario" class="form-label">Teléfono</label>
                                <input type="text" class="form-control" id="TelefonoUsuario">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="DepartamentoUsuario" class="form-label">Departamento</label>
                                <input type="text" class="form-control" id="DepartamentoUsuario">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="RegionUsuario" class="form-label">Región</label>
                                <input type="text" class="form-control" id="RegionUsuario">
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-2">
                        <label for="ProvinciaUsuario" class="form-label">Provincia</label>
                        <input type="text" class="form-control" id="ProvinciaUsuario">
                    </div>
                    <div class="form-group mb-2">
                        <label for="DistritoUsuario" class="form-label">Distrito</label>
                        <input type="text" class="form-control" id="DistritoUsuario">
                    </div>
                    
                    <input type="hidden" id="IdUsuarioUsuario">
                    <input type="hidden" id="ApellidoPaternoUsuario">
                    <input type="hidden" id="ApellidoMaternoUsuario">
                    <input type="hidden" id="NombresUsuario">
                    <input type="hidden" id="UsuarioUsuario">
                    <input type="hidden" id="IdRolUsuario">
                    <input type="hidden" id="IdSupervisorUsuario">
                    <input type="hidden" id="ResponsableSupervisorUsuario">

                </div>
            </div>
            <!-- Botón Actualizar -->
            <div class="row mt-3">
                <div class="col-md-12 text-center">
                    <button class="btn btn-success btn-actualizar-campos" onclick="actualizarCampos()">Actualizar Campos</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Perfil/Perfil.js?v=@DateTime.Now.Ticks"></script>
}