<div class="modal fade" id="tipificacion-cliente-modal" tabindex="-1" aria-labelledby="assignments-list-title"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tipificacion-cliente-title">Informacion del Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="tipificacion-cliente-modal-body">
                <div class="container mb-4">
                    <partial name="toinclude/_DatosProspecto" />
                    <partial name="toinclude/_ContactoManual" />
                    <partial name="toinclude/_ContactoBd" />
                </div>
            </div>
        </div>
    </div>
</div>
