@{
    ViewData["Title"] = "Página no encontrada";
}

<h2>¡Oops! Página no encontrada</h2>
<p>Lo siento, pero la página que buscas no existe.</p>
<a href="@Url.Action("Index", "Home")">Volver a la página de inicio</a>
