@model ALFINapp.Infrastructure.Persistence.Models.AsignacionSupervisoresDTO

@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
}


<h5>Hola mundo</h5>

@section Scripts {
    <script src="~/js/Asignacion/Supervisores.js?v=@DateTime.Now.Ticks"></script>
}