@model ALFINapp.Infrastructure.Persistence.Models.AsignacionSupervisoresDTO

@section Styles {
    <style>
        .gridjs-table tr:hover td {
            background-color: #f0f0f0;
        }
    </style>
}



<div class="mb-3">
    <button type="button" 
            class="btn btn-primary" 
            data-bs-toggle="modal" 
            data-bs-target="#assignments-list-modal"
            onclick="load_assignments_list_modal()">
        <i class="fa-regular fa-eye me-2"></i>VER ASIGNACIONES
    </button>
</div>

<div class="card border-0 shadow-sm rounded-3 mb-3">
    <div class="card-header bg-white fw-bold">
        IMPORTAR ASIGNACIONES
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-auto">
                <input class="form-control" type="file" id="import-assignments-file-input" onchange="import_assignments_file(event);">
            </div>
            <div class="col-auto" id="imported-file-name">
                <span>
                    
                </span>
            </div>
        </div>
    </div>
</div>


<div class="card border-0 shadow-sm rounded-3 mb-3">
    <div class="card-header bg-white fw-bold">
        <div class="d-flex justify-content-between align-items-center gap-3">
            <span>VISUALIZACIÓN DE CARGA</span>
            <div>
                <div class="input-group input-group-sm">
                    <span class="input-group-text bg-white">TOTAL</span>
                    <input type="text" class="form-control" id="load-visualization-total-input" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="load-visualization-table"></div>
    </div>
</div>


<div class="text-center text-sm-end mb-3">
    <a href="javascript:void(0)" type="button" class="btn btn-primary" id="cross-assignment-button" onclick="cross_assignments()"><i class="fa-solid fa-shuffle me-2"></i>CRUZAR ASIGNACIÓN</a>
</div>


<div class="card border-0 shadow-sm rounded-3 mb-3">
    <div class="card-header bg-white fw-bold">
        <div class="d-flex justify-content-between align-items-center gap-3">
            <span>VISUALIZACIÓN CRUCE DE ASIGNACIÓN</span>
            <div>
                <div class="input-group">
                    <span class="input-group-text bg-white">TOTAL</span>
                    <input id="client-list-total-input" type="text" class="form-control" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="client-list-table"></div>
    </div>
</div>


<div class="text-center">
    <a type="button" class="btn btn-primary btn-lg" id="assign-button" onclick="assign_supervisors()">
        <i class="fa-regular fa-circle-check me-2"></i>ASIGNAR
    </a>
</div>



<!-- modals -->

<partial name="modals/_modalListaAsignaciones" />
<partial name="modals/_modalDescargaAsignaciones" />


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
    <script src="~/js/Asignacion/Supervisores.js?v=@DateTime.Now.Ticks"></script>
}