@{
    var TipificacionesGenerales = ViewData["tipificacionesGenerales"] as IEnumerable<Tipificaciones>;
}


<div class="label-for-sup-sec">
    <div class="row">
        <div class="col">
            <h3 class="d-inline-block"> Seccion Modificar Asesores con Tipificaciones Especificas </h3>
        </div>

        <div class="col-auto">
            <button type="button" class="btn-close" aria-label="Close" onclick="cerrarAsesoresTipificacionView()"
                style="filter: invert(1) brightness(2); background-color: transparent; border: none; "
                onmouseover="this.style.filter='invert(1) brightness(2.5)';"
                onmouseout="this.style.filter='invert(1) brightness(2)';">
            </button>
        </div>
    </div>
</div>

<div class="spacing"></div>

<div>
    <label for="selectAsesor" class="form-label">Seleccione una Tipificacion</label>
    <select class="form-select" id="selectTipificacion" name="selectTipificacion"
        onchange="cargarInterfazAsesorPorTipificacion(this.value)">
        <option value="">Seleccione una de las siguientes Tipificaciones</option>
        @foreach (var TipificacionesAsignadas in TipificacionesGenerales)
        {
            <option value="@TipificacionesAsignadas.DescripcionTipificacion">
                @TipificacionesAsignadas.DescripcionTipificacion
            </option>
        }
    </select>
    <div class="spacing"></div>

    <div id="resultadoAsesorXTipificacion" style="display: block;">

    </div>
</div>

<script>
    function cargarInterfazAsesorPorTipificacion(tipificacion) {
        if (!tipificacion) {
            Swal.fire({
                title: 'Error',
                text: 'Por favor seleccione una tipificacion.',
                icon: 'error',
                confirmButtonText: 'Aceptar'
            });
            return;
        }

        $.ajax({
            url: `/Usuario/ObtenerClientesPorTipificacion`, // URL del endpoint en el controlador
            type: "GET", // Tipo de solicitud
            data: { tipificacion: tipificacion }, // Par치metro enviado al servidor
            success: function (response) {
                // Procesar la respuesta y mostrar el resultado
                $("#resultadoAsesorXTipificacion").html(response);
            },
            error: function (xhr, status, error) {
                // Mostrar un mensaje de error en caso de que falle la solicitud
                Swal.fire({
                    title: 'Error',
                    text: 'Ocurri칩 un error al cargar la interfaz de asignaci칩n de asesores por tipificaci칩n.',
                    icon: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    }

</script>