@{
    var TipificacionesGenerales = ViewData["tipificacionesGenerales"] as IEnumerable<Tipificaciones>;
}


<div class="label-for-sup-sec">
    <div class="row">
        <div class="col">
            <h3 class="d-inline-block"> Seccion Modificar Asesores con Tipificaciones Especificas </h3>
        </div>

        <div class="col-auto">
            <button type="button" class="btn-close" aria-label="Close"
                onclick="cerrarAsesoresTipificacionView()"
                style="filter: invert(1) brightness(2); background-color: transparent; border: none; "
                onmouseover="this.style.filter='invert(1) brightness(2.5)';" 
                onmouseout="this.style.filter='invert(1) brightness(2)';">
            </button>
        </div>
    </div>
</div>

<div class="spacing"></div>

<div>
    <label for="selectAsesor" class="form-label">Seleccione una Tipificacion</label>
    <select class="form-select" id="selectTipificacion" name="selectTipificacion"
        onchange="cargarInterfazAsesorPorTipificacion(this.value)">
        <option value="">Seleccione una de las siguientes Tipificaciones</option>
        @foreach (var TipificacionesAsignadas in TipificacionesGenerales)
        {
            <option value="@TipificacionesAsignadas.DescripcionTipificacion">
                @TipificacionesAsignadas.DescripcionTipificacion
            </option>
        }
    </select>
    <div class="spacing"></div>

    <div id="resultadoAsesorXTipificacion" style="display: block;">

    </div>
</div>

<script>
    function cargarInterfazAsesorPorTipificacion(tipificacion) {
        if (!tipificacion) {
            alert("Por favor, seleccione una tipificación.");
            return;
        }

        $.ajax({
            url: `/Modificaciones/ObtenerClientesPorTipificacion`, // URL del endpoint en el controlador
            type: "GET", // Tipo de solicitud
            data: { tipificacion: tipificacion }, // Parámetro enviado al servidor
            success: function (response) {
                // Procesar la respuesta y mostrar el resultado
                $("#resultadoAsesorXTipificacion").html(response);
            },
            error: function (xhr, status, error) {
                console.error("Error al obtener los datos:", error);
                alert("Ocurrió un error al cargar los datos. Inténtalo nuevamente.");
            }
        });
    }

</script>