@model ALFINapp.Models.BaseCliente

@{
    ViewBag.Title = "Agregar Cliente";
}

@section Styles {
    <link rel="stylesheet" href="~/css/agregarcliente.css">
}

<div id="dni-section">
    <div class="form-group">
        <label for="DNI">Ingresa DNI</label>
        <input type="text" id="dnicliente" class="form-control" placeholder="Ingrese DNI">
        <br>
        <button id="consultar-dni" class="btn btn-primary" onclick="validarDNI()">Consultar</button>
    </div>
</div>

<div class="spacing"></div>

<div id="datos-cliente-existente" style="display: none;">
</div>

<div id="error-message" class="alert alert-danger" style="display: none;">
</div>


<script>
    function validarDNI() {
        const dniInput = document.getElementById("dnicliente");
        const Message = document.getElementById("error-message");
        const datosClienteExistente = document.getElementById("datos-cliente-existente");
        const dniForm = document.getElementById("DNIForm");

        const dniValue = dniInput.value;

        Message.style.display = "none";
        datosClienteExistente.style.display = "none";

        if (dniValue === "") {
            Message.style.display = "block";
            Message.innerHTML = "El DNI no puede estar vacío.";
        } else if (!/^\d{8}$/.test(dniValue)) {
            Message.style.display = "block";
            Message.innerHTML = "El DNI debe contener exactamente 8 dígitos y solo números.";
        } else {
            $.ajax({
                url: `/Reagregaciones/VerificarDNI`,
                type: 'GET',
                data: { dni: dniValue },
                success: function (data) {
                    if (data.existe === false && data.error === false) {
                        Message.style.display = "block";
                        Message.innerHTML = data.message;
                    } else if (data.existe === false && data.error === true) {
                        Message.style.display = "block";
                        Message.innerHTML = data.message;
                    } else {
                        datosClienteExistente.style.display = "block";
                        datosClienteExistente.innerHTML = data; // Carga la vista parcial
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    Message.style.display = "block";
                    Message.innerHTML = "Hubo un error al verificar el DNI.";
                }
            });
        }
    }

    // Función para cargar los datos correspondientes según la fuente base seleccionada
    function cargarDatos(fuenteBase) {
        // Seleccionar todas las secciones con ID que comiencen con 'detalle-campana_'
        const todasLasSecciones = document.querySelectorAll("[id^='detalle-campana_']");

        // Ocultar todas las secciones
        todasLasSecciones.forEach(seccion => {
            seccion.style.display = "none";
        });

        // Mostrar solo la sección correspondiente a 'fuenteBase'
        const fuenteSeccion = document.getElementById('detalle-campana_' + fuenteBase);
        if (fuenteSeccion) {
            fuenteSeccion.style.display = "block";
        } else {
            console.warn(`No se encontró la sección con ID: detalle-campana_${fuenteBase}`);
        }
    }

</script>