@model ALFINapp.Models.BaseCliente

@{
    ViewBag.Title = "Agregar Cliente";
}

@section Styles {
    <link rel="stylesheet" href="~/css/agregarcliente.css">
}

<div id="dni-section">
    <div class="form-group">
        <label for="DNI">Ingresa DNI</label>
        <input type="text" id="dnicliente" class="form-control" placeholder="Ingrese DNI">
        <br>
        <button id="consultar-dni" class="btn btn-primary" onclick="validarDNI()">Consultar</button>
    </div>
</div>

<div class="spacing"></div>

<div id="datos-cliente-existente" style="display: none;">
</div>

<div id="error-message" class="alert alert-danger" style="display: none;">
</div>