<header>
    <!-- Contenido del header de User -->
    <nav>
        <ul>
            <li><a href="/User/Profile">Perfil</a></li>
            <li><a href="/User/Settings">Configuración</a></li>
        </ul>
    </nav>
</header>
