
<header class="border-bottom">
    <nav class="navbar navbar-expand">
        <div class="container-fluid">
            <label for="sidebar-toggle">
                <i data-lucide="menu"></i>
            </label>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">Contacto</a></li>
            </ul>
        </div>
    </nav>
</header>
