@{
    var SupervisoresDisponibles = ViewData["Supervisores"] as List<ALFINapp.Infrastructure.Persistence.Models.Usuario>;
    var Roles = ViewData["Roles"] as List<ALFINapp.Infrastructure.Persistence.Models.Roles>;
}

@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
    <link rel="stylesheet" href="~/css/Usuarios/Administracion.css">
}

<div>
    <div class="mb-2">
        <h3 style="mb-2">Usuarios</h3>
    
        <div class="w-100">
            <div class="bg-white rounded shadow-sm px-4 py-3 mb-3 w-100">
                <div class="row g-4 align-items-end">

                    <div class="col-12 col-md-3">
                        <label for="filtroDni" class="form-label fw-semibold">DNI</label>
                        <input type="text" id="filtroDni" class="form-control form-control-sm" placeholder="Ingrese DNI">
                    </div>

                    <div class="col-12 col-md-3">
                        <label for="filtroUsuario" class="form-label fw-semibold">Usuario</label>
                        <input type="text" id="filtroUsuario" class="form-control form-control-sm" placeholder="Ingrese nombre">
                    </div>

                    <div class="col-12 col-md-2">
                        <label for="txtFiltrarRol" class="form-label fw-semibold">Rol</label>
                        <select id="txtFiltrarRol" class="form-select form-select-sm">
                            <option value="" selected disaled>--Seleccione--</option>
                        </select>
                    </div>

                    <div class="col-12 col-md-2 d-flex gap-2">
                        <div class="flex-grow-1">
                            <label for="txtFiltrarEstado" class="form-label fw-semibold">Estado</label>
                            <select id="txtFiltrarEstado" class="form-select form-select-sm">
                                <option value="" selected disaled>--Seleccione--</option>
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="INACTIVO">INACTIVO</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2 d-flex flex-column justify-content-end">
                        <button id="btnAgregarUsuario" class="btn btn-sm btn-outline-success w-100" title="Agregar Usuario">
                            <i class="bi bi-person-plus-fill me-2 fs-5"></i>Agregar Usuario
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-wrapper" style="overflow-x: auto; width: 100%;">
        <div id="clientesGrid" class="ag-theme-alpine" style="height: 600px; min-width: 1500px;"></div>
    </div>
</div>

<div class="modal fade" id="modalEditarUsuarioGerente" tabindex="-1" aria-labelledby="modalEditarUsuarioGerente" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">MODIFICAR USUARIO</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
    
                        <div class="col-md-6">
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="selectTDocumento_EditarUsuario" class="form-label">Tipo Documento</label>
                                    <select class="form-select" id="selectTDocumento_EditarUsuario">
                                        <option value="1">DNI</option>
                                        <option value="2">CARNET EXTRANJERÍA</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="txtUser_EditarUsuario" class="form-label">Usuario</label>
                                <input type="text" class="form-control" id="txtUser_EditarUsuario" />
                            </div>
                            <div class="mb-3">
                                <label for="txtNombres_EditarUsuario" class="form-label">Nombres</label>
                                <input type="text" class="form-control" id="txtNombres_EditarUsuario" />
                            </div>
                            <div class="mb-3">
                                <label for="txtApellidosM_EditarUsuario" class="form-label">Apellido Materno</label>
                                <input type="text" class="form-control" id="txtApellidosM_EditarUsuario" />
                            </div>
                            <div class="mb-3">
                                <label for="txtCampania_EditarUsuario" class="form-label">Campaña</label>
                                <input type="text" class="form-control" id="txtCampania_EditarUsuario" />
                            </div>
                            <div class="mb-3">
                                <label for="txtRol_EditarUsuario" class="form-label">Rol</label>
                                <select class="form-select" id="txtRol_EditarUsuario">
                                    <!-- Opciones cargadas dinámicamente -->
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="txtDNI_EditarUsuario" class="form-label">Documento</label>
                                <input type="text" class="form-control" id="txtDNI_EditarUsuario" />
                            </div>
                           
                            <div class="mb-3">
                                <label for="txtPassword_EditarUsuario" class="form-label">Contraseña</label>
                                <div class="position-relative">
                                    <input type="password" class="form-control pe-5" id="txtPassword_EditarUsuario" />
                                    <i class="fa fa-eye position-absolute top-50 end-0 translate-middle-y me-3"
                                       id="togglePassword" style="cursor: pointer;"></i>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="txtApellidosP_EditarUsuario" class="form-label">Apellido Paterno</label>
                                <input type="text" class="form-control" id="txtApellidosP_EditarUsuario" />
                            </div>
   
                            <div class="mb-3">
                                <label for="txtRegion_EditarUsuario" class="form-label">Región</label>
                                <input type="text" class="form-control" id="txtRegion_EditarUsuario" />
                            </div>

                            <div class="mb-3">
                                <label for="txtCorreo_EditarUsuario" class="form-label">Correo Electrónico</label>
                                <input type="email" class="form-control" id="txtCorreo_EditarUsuario" />
                            </div>

                            <div class="mb-3">
                                <label for="selectEstado" class="form-label">Estado</label>
                                <select class="form-select" id="selectEstado">
                                    <option value="ACTIVO">ACTIVO</option>
                                    <option value="INACTIVO">INACTIVO</option>
                                    <option value="CAMBIO">CAMBIO DE FECHAS</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="text-end mt-3">
                        <button type="button" class="btn btn-primary" id="btnGuardarCambios" data-id="">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const passwordInput = document.getElementById("txtPassword_EditarUsuario");
            const toggleIcon = document.getElementById("togglePassword");

            toggleIcon.addEventListener("click", function () {
                const type = passwordInput.type === "password" ? "text" : "password";
                passwordInput.type = type;
                this.classList.toggle("fa-eye");
                this.classList.toggle("fa-eye-slash");
            });
        });

        $('#modalEditarUsuarioGerente').on('show.bs.modal', function () {
            const passwordInput = document.getElementById("txtPassword_EditarUsuario");
            const toggleIcon = document.getElementById("togglePassword");

            passwordInput.type = "password";

            toggleIcon.classList.remove("fa-eye");
            toggleIcon.classList.add("fa-eye-slash");
        });
    </script>


    <script src="~/js/tablefunctions.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/Utils/localeEs.js"></script>
    <script src="~/js/Usuarios/Administracion.js?v=@DateTime.Now.Ticks"></script>

}