
@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
    <link rel="stylesheet" href="~/css/Usuarios/Administracion.css">
}

<div>
    <div class="mb-2">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="mb-0">Usuarios</h3>

            <button id="btnExportExcel" class="btn btn-success">
                <i class="bi bi-file-earmark-excel me-2"></i>
                Descargar Usuarios
            </button>
        </div>
        <div class="w-100">
            <div class="bg-white rounded shadow-sm px-4 py-3 mb-3 w-100">
                <div class="row g-4 align-items-end">

                    <div class="col-12 col-md-3">
                        <label for="filtroDni" class="form-label fw-semibold">DNI</label>
                        <input type="text" id="filtroDni" class="form-control form-control-sm" placeholder="Ingrese DNI">
                    </div>

                    <div class="col-12 col-md-3">
                        <label for="filtroUsuario" class="form-label fw-semibold">Usuario</label>
                        <input type="text" id="filtroUsuario" class="form-control form-control-sm" placeholder="Ingrese nombre">
                    </div>

                    <div class="col-12 col-md-2">
                        <label for="txtFiltrarRol" class="form-label fw-semibold">Rol</label>
                        <select id="txtFiltrarRol" class="form-select form-select-sm">
                            <option value="" selected disaled>--Seleccione--</option>
                        </select>
                    </div>

                    <div class="col-12 col-md-2 d-flex gap-2">
                        <div class="flex-grow-1">
                            <label for="txtFiltrarEstado" class="form-label fw-semibold">Estado</label>
                            <select id="txtFiltrarEstado" class="form-select form-select-sm">
                                <option value="" selected disaled>--Seleccione--</option>
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="INACTIVO">INACTIVO</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2 d-flex flex-column justify-content-end">
                        <button id="btnAgregarUsuario" class="btn btn-sm btn-outline-success w-100" title="Agregar Usuario">
                            <i class="bi bi-person-plus-fill me-2 fs-5"></i>Agregar Usuario
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-wrapper" style="overflow-x: auto; width: 100%;">
        <div id="clientesGrid" class="ag-theme-alpine" style="height: 600px; min-width: 1500px;"></div>
    </div>
</div>

<div class="modal fade" id="modalARGerente" tabindex="-1" aria-labelledby="modalARGerente" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="titlemodalARGerente">REGISTRAR USUARIO</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <label class="form-label fw-bold solo-update-input">DATOS DE SESIÓN</label>

                        <div class="mb-3 col-md-6 solo-update-input">
                            <label for="txtUser_AR" class="form-label">Usuario</label>
                            <input type="text" class="form-control" id="txtUser_AR" />
                        </div>
                        <div class="mb-3 col-md-6 solo-update-input">
                            <label for="txtPassword_AR" class="form-label">Contraseña</label>
                            <div class="position-relative">
                                <input type="password" class="form-control no-uppercase pe-5" id="txtPassword_AR" />
                                <i class="fa fa-eye position-absolute top-50 end-0 translate-middle-y me-3"
                                   id="togglePassword" style="cursor: pointer;"></i>
                            </div>
                        </div>

                        <label class="form-label fw-bold">DATOS PERSONALES</label>
                        <div class="mb-3 col-md-4">
                            <label for="txtNombres_AR" class="form-label">Nombres</label>
                            <input type="text" class="form-control" id="txtNombres_AR" />
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="txtApellidosP_AR" class="form-label">Apellido Paterno</label>
                            <input type="text" class="form-control" id="txtApellidosP_AR" />
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="txtApellidosM_AR" class="form-label">Apellido Materno</label>
                            <input type="text" class="form-control" id="txtApellidosM_AR" />
                        </div>

                        <div class="mb-3 col-md-3">
                            <div class="mb-3">
                                <label for="selectTDocumento_AR" class="form-label">Tipo Documento</label>
                                <select class="form-select" id="selectTDocumento_AR">
                                    <option value="" selected disabled>-- Seleccionar --</option>
                                    <option value="1">DNI</option>
                                    <option value="2">CARNET EXTRANJERÍA</option>
                                </select>
                            </div>
                        </div>

                        <div class="mb-3 col-md-3">
                            <label for="txtDNI_AR" class="form-label">Documento</label>
                            <input type="text" class="form-control" id="txtDNI_AR" />
                        </div>

                        <div class="mb-3 col-md-6">
                            <label for="txtCorreo_AR" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" id="txtCorreo_AR" />
                        </div>
                        <label class="form-label fw-bold">DATOS DE UBICACION</label>
                        <div class="mb-3 col-md-4">
                            <label for="txtRegion_AR" class="form-label">Región</label>
                            <input type="text" class="form-control" id="txtRegion_AR" />
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="txtCampania_AR" class="form-label">Campaña</label>
                            <input type="text" class="form-control" id="txtCampania_AR" />
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="txtDepartamento_AR" class="form-label">Departamento</label>
                            <input type="text" class="form-control" id="txtDepartamento_AR" />
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="txtProvincia_AR" class="form-label">Provincia</label>
                            <input type="text" class="form-control" id="txtProvincia_AR" />
                        </div>
                        <!--
                        <div class="mb-3 col-md-4">
                            <label for="txtProvincia_AR" class="form-label">Campaña</label>
                            <input type="text" class="form-control" id="txtProvincia_AR" />
                        </div>
                        -->
                        <div class="mb-3 col-md-4">
                            <label for="txtDistrito_AR" class="form-label">Distrito</label>
                            <input type="text" class="form-control" id="txtDistrito_AR" />
                        </div>


                        <label class="form-label fw-bold">DATOS ADICIONALES</label>
                        <div class="mb-3 col-md-3">
                            <label for="txtRol_AR" class="form-label">Rol</label>
                            <select class="form-select" id="txtRol_AR">
                                <option value="" selected disabled>-- Seleccionar --</option>
                            </select>
                        </div>
                        <div class="mb-3 col-md-3">
                            <label for="txtTelefono_AR" class="form-label">Telefono</label>
                            <input type="text" class="form-control" id="txtTelefono_AR" />
                        </div>
                        <div class="mb-3 col-md-3">
                            <label for="sltEstado_AR" class="form-label">Estado</label>
                            <select class="form-select" id="sltEstado_AR">
                                <option value="ACTIVO" selected>ACTIVO</option>
                                <option value="INACTIVO">INACTIVO</option>
                            </select>
                        </div>



                        <div class="mb-3 col-md-3">
                            <label for="txtSupervisor_AR" class="form-label">Supervisor</label>
                            <select class="form-select" id="txtSupervisor_AR">
                            </select>
                        </div>

                    </div>

                    <div class="text-end mt-3">
                        <button type="button" class="btn btn-primary" id="btnGuardarCambios" data-id="">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const passwordInput = document.getElementById("txtPassword_AR");
            const toggleIcon = document.getElementById("togglePassword");

            toggleIcon.addEventListener("click", function () {
                const type = passwordInput.type === "password" ? "text" : "password";
                passwordInput.type = type;
                this.classList.toggle("fa-eye");
                this.classList.toggle("fa-eye-slash");
            });
        });

        $('#modalARGerente').on('show.bs.modal', function () {
            const passwordInput = document.getElementById("txtPassword_AR");
            const toggleIcon = document.getElementById("togglePassword");

            passwordInput.type = "password";

            toggleIcon.classList.remove("fa-eye");
            toggleIcon.classList.add("fa-eye-slash");
        });
    </script>


    <script src="~/js/tablefunctions.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/Utils/localeEs.js"></script>
    <script src="~/js/Usuarios/Administracion.js?v=@DateTime.Now.Ticks"></script>

}