@model List<ALFINapp.Models.Usuario>
@{
}
@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
}

<div class="container mt-4">
    <div class="container-fluid mb-4">
        <div class="label-for-sup-sec">
            <h3>Seccion Modificar Estado del Asesor</h3>
        </div>
        <div class="row mt-3 mb-4">
            <div class="mb-4">
                <label for="selectAsesor" class="form-label">Seleccione un Asesor</label>
                <select class="form-select" id="selectAsesor" name="selectAsesor"
                    onchange="cargarInterfazAsesor(this.value)">
                    <option value="">Seleccione un Asesor</option>
                    @foreach (var AsesorAsignados in Model)
                    {
                        if (AsesorAsignados.Estado == "ACTIVO")
                        {
                            <option value="@AsesorAsignados.IdUsuario">@AsesorAsignados.NombresCompletos</option>
                        }
                        else
                        {
                            <option style="background-color: rgb(255, 93, 93);" value="@AsesorAsignados.IdUsuario">
                                @AsesorAsignados.NombresCompletos <i class="fa fa-circle-exclamation"></i> <span> -- Asesor
                                    DESACTIVADO</span></option>
                        }
                    }
                </select>
            </div>

            <div id="interfazAsesorSelect" class="row" style="display: none;">
                <!-- Aqui se cargara la vista parcial del asesor seleccionado -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Asesores/Usuarios.js" asp-append-version="true"></script>
}