@model List<ALFINapp.Models.UsuarioAsesorDTO>

@{
    var asesoresConClientes = ViewData["asesoresConClientes"] as List<dynamic>;
    int contador = 0;
}

<h3>Seccion Modificar asignaciones del Asesor</h3>
<div class="row">
    <div>
        <label for="selectAsesor" class="form-label">Seleccione un Asesor</label>
        <select class="form-select" id="selectAsesor" name="selectAsesor" onchange="cargarInterfazAsesor(this.value)">
            <option value="">Seleccione un Asesor</option>
            @foreach (var AsesorAsignados in Model)
            {
                <option value="@AsesorAsignados.IdUsuario">@AsesorAsignados.NombresCompletos</option>
            }
        </select>
    </div>

    <div class="spacing"></div>

    <div id="interfazAsesorSelect" class="row mt-10" style="display: none;">
        <!-- Aqui se cargara la vista parcial del asesor seleccionado -->
    </div>

    <hr>

</div>

<h3 class="label-fortip-sup"> Modificar Asignacion de Asesores Por Tipificacion </h3>
<div class="row">
    <div>

        <div class="alert alert-info" role="alert">
            En esta Seccion podra Modificar las asignaciones de los asesores por las Tipificaciones de los Clientes

        </div>
        <div class="button-container mb-10">
            <a href="javascript:void(0);" class="btn btn-success"
                onclick="cargarAsesoresTipificacionesView()">Mostrar</a>
        </div>

        <div class="spacing"></div>

        <div id="interfazTipificacionXAsesorSelect" class="row mt-10" style="display: none;">
            <!-- Aqui se cargara la vista parcial del las Tipificaciones por asesores -->
        </div>

        <hr>

    </div>
</div>

<div id="seccionAgregarAsesores">
    <h3>Agregar Asesores</h3>
    <div class="row">
        <div>
            <div class="alert alert-info" role="alert">
                En esta Seccion podra Agregar nuevos asesores
            </div>
            <div class="button-container mb-10">
                <button type="button" class="btn btn-primary" onclick="agregarNuevoAsesorView()">Agregar un Nuevo
                    Asesor</button>
            </div>

            <div class="spacing"></div>
        </div>
    </div>
</div>

<div id="interfazAgregarAsesor" class="row mt-10" style="display: none;">
    <div class="row">
        <!-- Aqui se cargara la vista parcial para Agregar un nuevo asesor -->
    </div>
</div>

<script>
    function agregarNuevoAsesorView() {
        // Realiza una llamada AJAX para cargar la vista parcial
        $.ajax({
            url: "/Supervisor/AgregarNuevoAsesorView", // URL del controlador que devuelve la vista parcial
            type: "GET",
            success: function (response) {
                $('#interfazAgregarAsesor').html(response);
                $('#interfazAgregarAsesor').css('display', 'block'); // Asegurar que el contenedor sea visible
                $('#seccionAgregarAsesores').css('display', 'none');
            },
            error: function () {
                Swal.fire({
                    title: 'Error',
                    text: 'No se pudo cargar la interfaz para agregar un nuevo asesor.',
                    icon: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    }

    function cerraragregarNuevoAsesorView() {
        $('#interfazAgregarAsesor').css('display', 'none');
        $('#seccionAgregarAsesores').css('display', 'block');
    }

    function desactivarAsesor(dni, idUsuario) {
        $.ajax({
            type: "POST",
            url: "/Asesor/DesactivarAsesor",
            data: {
                dni: dni,
                idUsuario: idUsuario
            },
            success: function (response) {
                if (response) {
                    Swal.fire({
                        title: 'Desactivacion de Asesor',
                        text: 'El Asesor fue desactivado correctamente.',
                        icon: 'warning',
                        confirmButtonText: 'Aceptar'
                    });
                } else {
                    Swal.fire({
                        title: 'Desactivacion de Asesor',
                        text: 'Ocurrio un error al tratar de Desactivar al Asesor comunicarse con el servicio tecnico.',
                        icon: 'error',
                        confirmButtonText: 'Aceptar'
                    });
                }
            },
            error: function (message) {
                Swal.fire({
                    title: 'Desactivacion de Asesor',
                    text: 'Ocurrio un error al tratar de Desactivar al Asesor comunicarse con el servicio tecnico.',
                    icon: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    }

    function activarAsesor(dni, idUsuario) {
        $.ajax({
            type: "POST",
            url: "/Asesor/ActivarAsesor",
            data: {
                dni: dni,
                idUsuario: idUsuario
            },
            success: function (response) {
                if (response) {
                    Swal.fire({
                        title: 'Activacion de Asesor',
                        text: 'El Asesor fue activado correctamente.',
                        icon: 'success',
                        confirmButtonText: 'Aceptar'
                    });
                } else {
                    Swal.fire({
                        title: 'Activacion de Asesor',
                        text: 'Ocurrio un error al tratar de Activar al Asesor comunicarse con el servicio tecnico.',
                        icon: 'error',
                        confirmButtonText: 'Aceptar'
                    });
                }
            },
            error: function (response) {
                Swal.fire({
                    title: 'Activacion de Asesor',
                    text: 'Ocurrio un error al tratar de Activar al Asesor comunicarse con el servicio tecnico.',
                    icon: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    }

    function modificarAsignacionesAsesor(IdUsuario, dni) {
        var labelForAsesor = document.getElementById('seccionModificarAsignaciones_' + IdUsuario);
        // Realiza una llamada AJAX para cargar la vista parcial
        $.ajax({
            url: "/Supervisor/ObtenerVistaModificarAsignaciones", // URL del controlador que devuelve la vista parcial
            type: "GET",
            data: {
                IdUsuario: IdUsuario,
                dni: dni
            },
            success: function (response) {
                $('#seccionModificarAsignaciones_' + IdUsuario).html(response);
                $('#seccionModificarAsignaciones_' + IdUsuario).css('display', 'block'); // Asegurar que el contenedor sea visible
            },
            error: function () {
                Swal.fire({
                    title: 'Error',
                    text: 'No se pudo cargar la interfaz para modificar las asignaciones del asesor.',
                    icon: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    }

    function cerrarmodificarAsignacionesAsesor(IdUsuario) {
        $('#seccionModificarAsignaciones_' + idUsuario).css('display', 'none'); // Asegurar que el contenedor sea visible
    }

    function cargarInterfazAsesor(idAsesor) {
        // Realiza una llamada AJAX para cargar la vista parcial
        if (idAsesor) {
            // Realiza una llamada AJAX para obtener la interfaz del asesor seleccionado
            $.ajax({
                url: "/Supervisor/ObtenerInterfazAsesor", // URL del controlador que devuelve la vista parcial
                type: "GET",
                data: { idUsuario: idAsesor },
                success: function (response) {
                    console.log('Interfaz del asesor seleccionado cargada correctamente');
                    // Cargar la interfaz en el div correspondiente
                    $('#interfazAsesorSelect').html(response);
                    $('#interfazAsesorSelect').css('display', 'block'); // Asegurar que el contenedor sea visible
                },
                error: function () {
                    Swal.fire({
                        title: 'Error',
                        text: 'No se pudo cargar la interfaz del asesor seleccionado.',
                        icon: 'error',
                        confirmButtonText: 'Aceptar'
                    });
                }
            });
        } else {
            console.log('No se selecciono un asesor');
            // Si no se selecciona un asesor, limpiar el contenido
            $('#interfazAsesorSelect').html('');
        }
    }
    function cerrarInterfazAsesor() {
        $('#interfazAsesorSelect').css('display', 'none'); // Asegurar que el contenedor sea visible
    }

    function cargarAsesoresTipificacionesView() {
        console.log('TesteandoFUNCION');
        $.ajax({
            url: "/Supervisor/ModificarAsignacionPorTipificacionView",
            type: "GET",
            data: {},
            success: function (response) {
                console.log('Interfaz del asesor seleccionado cargada correctamente');
                // Cargar la interfaz en el div correspondiente
                $('#interfazTipificacionXAsesorSelect').html(response);
                $('#interfazTipificacionXAsesorSelect').css('display', 'block'); // Asegurar que el contenedor sea visible
            },
            error: function () {
                Swal.fire({
                    title: 'Error',
                    text: 'No se pudo cargar la interfaz del asesor seleccionado.',
                    icon: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    }

    function cerrarAsesoresTipificacionView() {
        $('#interfazTipificacionXAsesorSelect').css('display', 'none'); // Asegurar que el contenedor sea visible
    }
</script>