@model IEnumerable<VendedorConClientesDTO>
@{
    var idasignado = TempData["idAsignacion"];
}


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Vendedor</th>
            <th>Número de clientes asignados</th>
            <th>Asignar al Cliente</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vendedores in Model)
        {
            <tr>
                <td>
                    <input class="form-control" id="NombresCompletos" type="text" value="@vendedores.NombresCompletos"
                        readonly>
                </td>

                <td>
                    <input class="form-control" id="NClientes" type="text" value="@vendedores.NumeroClientes" readonly>
                </td>

                <td>
                    <a href="@Url.Action("ModificarAsignacionVendedor", new {idasignado = idasignado, idVendedor = vendedores.IdUsuario})" class="btn btn-primary">Asignar a este Asesor</a>
                </td>
            </tr>
        }
    </tbody>
</table>
