<!-- Modal -->
<div class="modal fade" id="assignments-list-modal" tabindex="-1" aria-labelledby="assignments-list-title" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignments-list-title">VER ASIGNACIONES</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-inline-flex gap-3 mb-3">
                    <input type="text" class="form-control" id="supervisor-filter-input" placeholder="FILTRAR SUP.">
                    <button type="submit" class="btn btn-primary" id="supervisor-search-button">BUSCAR</button>
                </div>
                <div id="assignments-list-table"></div>
            </div>
        </div>
    </div>
</div>
