@model ALFINapp.Models.Usuario

@{
    ViewData["Title"] = "Crear Usuario";
}

<h2>Crear Usuario</h2>

<form asp-action="CrearUsuario" asp-controller="User" method="post">
    <div class="form-group">
        <label asp-for="Dni">DNI: </label>
        <input asp-for="Dni" class="form-control" />
        <span asp-validation-for="Dni" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NombresCompletos">Nombres_Completos </label>
        <input asp-for="NombresCompletos" class="form-control" />
        <span asp-validation-for="NombresCompletos" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rol">Rol</label>
        <input asp-for="Rol" class="form-control" />
        <span asp-validation-for="Rol" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Departamento">Departamento</label>
        <input asp-for="Departamento" class="form-control" />
        <span asp-validation-for="Departamento" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Provincia">Provincia</label>
        <input asp-for="Provincia" class="form-control" />
        <span asp-validation-for="Provincia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Distrito">Distrito</label>
        <input asp-for="Distrito" class="form-control" />
        <span asp-validation-for="Distrito" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Telefono">Telefono</label>
        <input asp-for="Telefono" class="form-control" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Estado">Estado</label>
        <input asp-for="Estado" class="form-control" />
        <span asp-validation-for="Estado" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ApellidoPaterno">Apellido Paterno</label>
        <input asp-for="ApellidoPaterno" class="form-control" />
        <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ApellidoMaterno">Apellido Materno</label>
        <input asp-for="ApellidoMaterno" class="form-control" />
        <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
    </div>

    <br />
    <button class="btn btn-success" type="submit">Guardar</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
