@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index_page.css">
}

<section class="vh-100 background-class">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <!-- Columna de la Imagen -->
            <div class="col d-flex justify-content-center align-items-center">
                <img src="~/images/a3652.png" class="img-fluid" alt="Phone image">
            </div>

            <!-- Columna del Formulario -->
            <div class="col-md-6 form-principal">
                <h1 class="text-center mb-4">Bienvenido</h1>
                <form action="@Url.Action("VerificarUsuario","Home")" method="post" class="form-to-enter">
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="dni" style="font-size: larger;">Usuario</label>
                        <input type="dni" id="dni" name="dni" class="form-control form-control-lg rounded-input"
                            placeholder="Ingrese su Usuario" />
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4 position-relative">
                        <label class="form-label" for="password" style="font-size: larger;">Contraseña</label>
                        <div class="d-flex align-items-center position-relative">
                            <input type="password" id="password" name="password"
                                class="form-control form-control-lg rounded-input"
                                placeholder="Ingrese su contraseña" />
                            <!-- Ícono del ojito -->
                            <span class="position-absolute end-0 pe-3 eye-icon d-flex align-items-center"
                                style="cursor: pointer; height: 100%;" onclick="togglePasswordVisibility()">
                                <i id="password-icon" class="fas fa-eye" style="font-size: 1.5rem;"></i>
                            </span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                            <label class="form-check-label" for="form1Example3"> Recuerdame </label>
                        </div>
                        <a href="#!" onclick="showPasswordInfo()" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="La contraseña por defecto es su DNI luego agreguele la cadena $clave123"
                            style="color: aliceblue;">
                            Olvido la Contraseña?
                        </a>

                        <!-- Contenedor para el mensaje -->
                        <div id="password-info" class="mt-3" style="display: none;">
                            <p class="alert alert-info">La contraseña por defecto es su DNI luego agreguele la cadena
                                '$clave123'</p>
                        </div>

                    </div>

                    <!-- Submit button -->
                    <div class="d-flex justify-content-center mb-4">
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init
                            class="btn btn-lg btn-block w-50"
                            style="background-color: rgb(255, 255, 255); color: black;">
                            Iniciar Sesión
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @if (TempData["Message"] != null)
    {
        <script>
            Swal.fire({
                title: 'Mensaje', // Título del mensaje
                text: '@Html.Raw(TempData["Message"] as string)', // Usamos Html.Raw para evitar que se escape el texto
                icon: 'success', // Tipo de ícono (info, success, error, warning)
                confirmButtonText: 'Aceptar' // Texto del botón de confirmación
            });
        </script>
    }

    @if (TempData["MessageError"] != null)
    {
        <script>
            Swal.fire({
                title: 'Error', // Título del mensaje
                text: '@Html.Raw(TempData["MessageError"] as string)', // Usamos Html.Raw para evitar que se escape el texto
                icon: 'error', // Tipo de ícono (info, success, error, warning)
                confirmButtonText: 'Aceptar' // Texto del botón de confirmación
            });
        </script>
    }
}

<script>

    function showPasswordInfo() {
        const passwordInfo = document.getElementById('password-info');
        passwordInfo.style.display = 'block'; // Mostrar el mensaje
    }

    // Función para mostrar y ocultar la contraseña al hacer click en el ícono del ojito
    function togglePasswordVisibility() {
        const passwordInput = document.getElementById('password');
        const passwordIcon = document.getElementById('password-icon');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            passwordIcon.classList.remove('fa-eye');
            passwordIcon.classList.add('fa-eye-slash');
        } else {
            passwordInput.type = 'password';
            passwordIcon.classList.remove('fa-eye-slash');
            passwordIcon.classList.add('fa-eye');
        }
    }
</script>