@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Home Page";
}


<div class="d-none d-md-flex area-image">
    <img src="~/images/image_login.webp" alt="Imagen Alfin-a365">
</div>

<div class="area-form">
    <div class="form-container">
        <h1 class="form-title">¡Bienvenido!</h1>
        <p class="form-subtitle">Ingresa tu información para ingresar al sistema</p>

        <form>
            <input type="text" class="input-form" placeholder="Escriba su usuario" required>
            <input type="password" class="input-form" placeholder="Escriba su clave" required>

            <div class="form-options">
                <label>
                    <input type="checkbox" name="remember"> Recordar
                </label>
                <a href="#">¿Olvidó su contraseña?</a>
            </div>

            <button type="submit" class="btn-login">Iniciar sesión</button>
        </form>
    </div>
</div>