
<div class="modal fade" id="modalHistoricoReagendamiento" tabindex="-1" aria-labelledby="labelmodalHistoricoReagendamiento" aria-hidden="true">
    <div class="modal-dialog modal-xxl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="labelmodalHistoricoReagendamiento">Histórico</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="gridHistóricoReagendamientos" class="ag-theme-alpine" style="height: 400px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>