@model ALFINapp.API.Models.ViewReportesAsesores


@* 1 *@
<div class="ba-card mb-3 h-100">
    <div class="ba-card-header">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="ba-card-title ba-color-primary d-inline-flex align-items-baseline gap-2">
                <span>REPORTE DE ASESORES</span>
            </h5>
        </div>
    </div>
    <div class="ba-card-body">
        
        <div class="ba-card mb-3 h-100">
            <div class="ba-card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="ba-card-title d-inline-flex align-items-baseline gap-2">
                        <span>CANTIDAD ASIGNADO VS GESTIONADO</span>
                    </h5>
                </div>
            </div>
            <div class="ba-card-body">
                <div id="div-reporte-asignaciones-vs-gestion"></div>
            </div>
        </div>

        <div class="ba-card mb-3 h-100">
            <div class="ba-card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="ba-card-title d-inline-flex align-items-baseline gap-2">
                        <span>CANTIDAD DERIVADO VS DESEMBOLSADO</span>
                    </h5>
                </div>
            </div>
            <div class="ba-card-body">
                <div id="div-reporte-derivaciones-vs-desembolsos"></div>
            </div>
        </div>

        <div class="ba-card mb-3 h-100">
            <div class="ba-card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="ba-card-title d-inline-flex align-items-baseline gap-2">
                        <span>CLIENTES POR TIPIFICACION</span>
                    </h5>
                </div>
            </div>
            <div class="ba-card-body">
                <div id="div-reporte-gestion-asesor"></div>
            </div>
        </div>

        <div class="ba-card h-100">
            <div class="ba-card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="ba-card-title d-inline-flex align-items-baseline gap-2">
                        <span>DERIVACIONES Y DESEMBOLSOS POR FECHA</span>
                    </h5>
                </div>
            </div>
            <div class="ba-card-body">
                <div id="div-reporte-derivacion-asesor-fecha"></div>
            </div>
        </div>
    </div>
</div>

<div id="reportes-asesor" data-json='@Html.Raw(Json.Serialize(Model))'></div>





@* 
<div class="card">
    <div class="card-header">
        <h4>Reportes de Asesor</h4>
    </div>
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="card-header">
                    <h5>Reportes de Asignaciones</h5>
                </div>
                <div class="card-body">
                    <div id="div-reporte-general-asesor">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-header">
                    <h5>Informe de Gestion</h5>
                </div>
                <div class="card-body">
                    <div id="div-reporte-gestion-asesor">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="card-header">
                    <h5>Derivaciones Por Fecha</h5>
                </div>
                <div class="card-body">
                    <div id="div-reporte-derivacion-asesor-fecha">
                        @*Aca se cargara las graficas del Asesor*
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="reportes-asesor" data-json='@Html.Raw(Json.Serialize(Model))'></div> *@