@model ALFINapp.API.Models.ViewReportesSupervisor

<div>
    <div class="row">
        <div class="col">
            <h4>Reportes Supervisores</h4>
            <div id="div-reporte-general-supervisor">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Asignaciones</h4>
                <div id="div-asignaciones-general-supervisor">

                </div>
            </div>
            <div class="col-md-6">
                <h4>Total de Derivaciones</h4>
                <div id="div-asignaciones-derivadas-supervisor">

                </div>
            </div>
        </div>
    </div>
</div>
<div id="reportes-supervisor" data-json='@Html.Raw(Json.Serialize(Model))'></div>