@model ALFINapp.API.Models.ViewReportesAsesores

<div class="card">
    <div class="card-header">
        <h4>Reportes de Asesor</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h5>Derivaciones Por Fecha</h5>
                <div id="div-reporte-derivacion-asesor-fecha">
                </div>
            </div>
        </div>
        <hr>
        <div class="row mt-4">
            <div class="col-md-11">
                <h5>Informe de Gestion</h5>
                <div id="div-reporte-gestion-asesor">
                </div>
            </div>
            <div class="col-md-1" id="leyenda-tipificaciones">
            </div>
        </div>
    </div>
</div>
<div id="reportes-asesor" data-json='@Html.Raw(Json.Serialize(Model))'></div>