@model ALFINapp.API.Models.ViewReportesAsesores

<div>
    <div class="row">
        <div class="col-md-12">
            <h4>Derivaciones de Asesores</h4>
            <div id="div-reporte-derivacion-asesor">

            </div>
        </div>

    </div>
</div>
<div id="reportes-asesor" data-json='@Html.Raw(Json.Serialize(Model))'></div>