@model ALFINapp.API.Models.ViewReportesFecha


@* 3 *@
<div class="ba-card h-100">
    <div class="ba-card-header">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="ba-card-title ba-color-primary d-inline-flex align-items-baseline gap-2">
                <span>ASIGNACIONES POR MESES</span>
            </h5>
        </div>
    </div>
    <div class="ba-card-body">

        <div class="row g-3">
            <div class="col-12 col-md-6">
                <div class="ba-card h-100">
                    <div class="ba-card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="ba-card-title d-inline-flex align-items-baseline gap-2">
                                <span>Reporteria detallada por dias</span>
                            </h5>
                        </div>
                    </div>
                    <div class="ba-card-body">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="ba-card h-100">
                    <div class="ba-card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="ba-card-title d-inline-flex align-items-baseline gap-2">
                                <span>Derivaciones vs. Desembolsos</span>
                            </h5>
                        </div>
                    </div>
                    <div class="ba-card-body">
                        <div id="div-asignaciones-der-des-general-por-fechas"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div id="reportes-por-meses" data-json='@Html.Raw(Json.Serialize(Model))'></div>