@using System.Globalization
@model ALFINapp.API.Models.ViewReportesGeneral
@{
}

<h1>@ViewData["Title"]</h1>

<div class="container-fluid">
    <div class="row g-3">
        <div class="col-12">
            
        </div>
    </div>
</div>