<div class="row">
    <div class="col-md-6">
        <h3>Datos del Prospecto</h3>
        <div class="form-group">
            <label for="DNI">DNI</label>
            <input class="form-control" id="DNI" type="text" value="Dni" readonly>
        </div>
        <div class="form-group">
            <label for="X_APPATERNO">Apellido Paterno</label>
            <input class="form-control form-control-editable" id="X_APPATERNO" type="text" value="XAppaterno" readonly>
        </div>
        <div class="form-group">
            <label for="X_APMATERNO">Apellido Materno</label>
            <input class="form-control form-control-editable" id="X_APMATERNO" type="text" value="XApmaterno" readonly>
        </div>
        <div class="form-group">
            <label for="X_NOMBRE">Nombre</label>
            <input class="form-control form-control-editable" id="X_NOMBRE" type="text" value="XNombre" readonly>
        </div>
        <div class="form-group">
            <label for="EDAD">Edad</label>
            <input class="form-control form-control-editable" id="EDAD" type="text" value="Edad" readonly>
        </div>
        <div class="form-group">
            <label for="DEPARTAMENTO">Departamento</label>
            <input class="form-control form-control-editable" id="DEPARTAMENTO" type="text" value="Departamento"
                readonly>
        </div>
        <div class="form-group">
            <label for="PROVINCIA">Provincia</label>
            <input class="form-control form-control-editable" id="PROVINCIA" type="text" value="Provincia" readonly>
        </div>
        <div class="form-group">
            <label for="DISTRITO">Distrito</label>
            <input class="form-control form-control-editable" id="DISTRITO" type="text" value="Distrito" readonly>
        </div>
    </div>
    <!-- Segunda Columna -->
    <div class="col-md-6">
        <h3>Detalles de la Campaña</h3>
        <input class="form-control ml-2" id="IDBASEUSUARIO" value="IdBase" hidden>
        <div class="form-group">
            <label for="CAMPAÑA">Campaña</label>
            <input class="form-control form-control-editable" id="CAMPAÑA" type="text" value="Campaña" readonly>
        </div>
        <div class="form-group">
            <label for="OFERTA_MAX">Oferta Máxima</label>
            <input class="form-control form-control-editable" id="OFERTA_MAX" type="text" value="OfertaMax" readonly>
        </div>
        <div class="form-group">
            <label for="TASA_MINIMA">Tasa Mínima</label>
            <input class="form-control form-control-editable" id="TASA_MINIMA" type="text" value="TasaMinima" readonly>
        </div>
        <div class="form-group">
            <label for="SUCURSAL_COMERCIAL">Sucursal Comercial</label>
            <input class="form-control form-control-editable" id="SUCURSAL_COMERCIAL" type="text"
                value="Sucursal AgenciaComercial" readonly>
        </div>
        <div class="form-group">
            <label for="PLAZO">Plazo</label>
            <input class="form-control form-control-editable" id="PLAZO" type="text" value="Plazo" readonly>
        </div>
        <div class="form-group">
            <label for="CUOTA">Cuota</label>
            <input class="form-control form-control-editable" id="CUOTA" type="text" value="Cuota" readonly>
        </div>
        <div class="form-group">
            <label for="GRUPO_TASA">Grupo Tasa</label>
            <input class="form-control form-control-editable" id="GRUPO_TASA" type="text" value="GrupoTasa" readonly>
        </div>
        <div class="form-group">
            <label for="GRUPO_MONTO">Grupo Monto</label>
            <input class="form-control form-control-editable" id="GRUPO_MONTO" type="text" value="GrupoMonto" readonly>
        </div>
        <div class="form-group">
            <label for="PERFILRO">Perfil Ro</label>
            <input class="form-control form-control-editable" id="PERFILRO" type="text" value="PerfilRo" readonly>
        </div>
    </div>
</div>

<div class="row mb-4">
    <h3>Detalles de las Ofertas</h3>
    <div class="col-md-6">
        <div class="form-group">
            <label for="GRUPO_MONTO">Oferta 12 Meses</label>
            <input class="form-control form-control-editable" id="OFERTA12M" type="text" value="Oferta12m"
                readonly>
        </div>
        <div class="form-group">
            <label for="GRUPO_MONTO">Tasa 12 Meses</label>
            <input class="form-control form-control-editable" id="TASA12M" type="text" value="Tasa12m %"
                readonly>
        </div>
        <div class="form-group">
            <label for="GRUPO_MONTO">Cuota 12 Meses</label>
            <input class="form-control form-control-editable" id="CUOTA12M" type="text" value="Cuota12m"
                readonly>
        </div>
        <div class="form-group">
            <label for="GRUPO_MONTO">Oferta 18 Meses</label>
            <input class="form-control form-control-editable" id="OFERTA18M" type="text" value="Oferta18m"
                readonly>
        </div>
        <div class="form-group">
            <label for="GRUPO_MONTO">Tasa 18 Meses</label>
            <input class="form-control form-control-editable" id="TASA18M" type="text" value="Tasa18m %"
                readonly>
        </div>
        <div class="form-group">
            <label for="GRUPO_MONTO">Cuota 18 Meses</label>
            <input class="form-control form-control-editable" id="CUOTA18M" type="text" value="Cuota18m"
                readonly>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="GRUPO_MONTO">Oferta 24 Meses</label>
            <input class="form-control form-control-editable" id="OFERTA24M" type="text" value="Oferta24m"
                readonly>
        </div>
        <div class="form-group">
            <label for="GRUPO_MONTO">Tasa 24 Meses</label>
            <input class="form-control form-control-editable" id="TASA24M" type="text" value="Tasa24m %"
                readonly>
        </div>
        <div class="form-group">
            <label for="GRUPO_MONTO">Cuota 24 Meses</label>
            <input class="form-control form-control-editable" id="CUOTA24M" type="text" value="Cuota24m"
                readonly>
        </div>
        <div class="form-group">
            <label for="GRUPO_MONTO">Oferta 36 Meses</label>
            <input class="form-control form-control-editable" id="OFERTA36M" type="text" value="Oferta36m"
                readonly>
        </div>
        <div class="form-group">
            <label for="GRUPO_MONTO">Tasa 36 Meses</label>
            <input class="form-control form-control-editable" id="TASA36M" type="text" value="Tasa36m %"
                readonly>
        </div>
        <div class="form-group">
            <label for="GRUPO_MONTO">Cuota 36 Meses</label>
            <input class="form-control form-control-editable" id="CUOTA36M" type="text" value="Cuota36m"
                readonly>
        </div>
    </div>
</div>
<div class="row mb-4">
    <h3>Tendencia del Prospecto</h3>
    <div class="col-md-6">
        <div class="form-group">
            <label for="PROPENSION">Propensión</label>
            <input class="form-control form-control-editable" id="PROPENSION" type="text" value="Propension"
                readonly>
        </div>
        <div class="form-group">
            <label for="TIPO_CLIENTE">Tipo de Cliente</label>
            <input class="form-control form-control-editable" id="TIPO_CLIENTE" type="text" value="TipoCliente"
                readonly>
        </div>
        <div class="form-group">
            <label for="CLIENTE_NUEVO">Antiguedad del Cliente</label>
            <input class="form-control form-control-editable" id="CLIENTE_NUEVO" type="text" value="ClienteNuevo"
                readonly>
        </div>
    </div>
    <div class="col-md-6">
        <!-- Colores -->
        <div class="form-group">
            <label for="COLOR">Color Principal</label>
            <div class="d-flex align-items-center">
                <input class="form-control ml-2"
                    style="width: 10%;" readonly>
                <input class="form-control ml-2" id="COLOR" type="text" value="Color" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="COLOR_FINAL">Color Final</label>
            <div class="d-flex align-items-center">
                <input class="form-control ml-2"
                    style="width: 10%;"
                    readonly>
                <input class="form-control ml-2" id="COLOR_FINAL" type="text" value="ColorFinal" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="TIPO_USUARIO">Usuario Tipo</label>
            <input class="form-control form-control-editable" id="TIPO_USUARIO" type="text" value="Usuario"
                readonly>
        </div>
    </div>
</div>

