@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container flex-grow-1 d-flex justify-content-center align-items-center">
    <div class="position-absolute top-0 end-0 m-3" style="color: #2d5792;">
        <a class="btn btn-primary" style="background-color: #2d5792;" href="@Url.Action("Index", "Home")">Volver</a>
    </div>
    <div class="container mt-4 d-flex justify-content-center align-items-center">
        <div class="p-4 rounded" style="background-color: #2d5792; color: white;">
            <h3>Referir Cliente</h3>
            <div class="alert alert-info mt-4" role="alert">
                <strong>Referidos:</strong> Al completar este formulario se enviara un correo a la persona responsable
                de la
                gestion de referidos
            </div>
            <div id="dni-section">
                <div class="form-group">
                    <label class="mb-1" for="DNI"> Ingrese el DNI </label>
                    <input type="text" id="dniReferidoBusqueda" class="form-control" placeholder="Ingrese DNI">
                    <button id="consultar-dni" class="btn btn-primary mt-4"
                        onclick="BuscarDNIAReferir('dniReferidoBusqueda')">Consultar</button>
                </div>
            </div>

            <div class="spacing"></div>

            <div id="datosClienteExistente" style="display: none;">
            </div>
            <div id="error-message" class="alert alert-danger" style="display: none;">
            </div>
            <div class="form-control" id="ReferirClienteVista" style="display: none;">
                <label for="NombresCompletosUsuario" class="form-label">Nombres Completos del Usuario</label>
                <input type="text" class="form-control" id="NombresCompletosUsuario">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/referirfunctions.js"></script>
}