/*.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.form-principal {
    background-color: #2d5792;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 20px;
    color: white;
    border-radius: 2%;
}
*/
.otp-input {
    width: 45px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
}

.gradient-warm-cool {
    background: linear-gradient(to bottom right, rgb(255, 243, 172), rgb(187, 214, 255));
}

/* Cambiar el color base del ojito */
.eye-icon i {
    color: #2d5792;
    /* Color inicial */
    transition: color 0.3s ease;
    /* Animación de transición suave */
}

/* Cambiar el color al pasar el mouse */
.eye-icon i:hover {
    color: #1e395f;
    /* Azul más oscuro al hover */
}

/* Cambiar el color al hacer clic (opcional) */
.eye-icon i:active {
    color: #68a7ff;
    /* Azul más claro al clic */
}
.bg-deepblue {
    background-color: #2d5792 !important;
}

.w-200px {
    width: 200px;
}


/*ESTILOS PARA EL NUEVO M,ODAL DE RECUPERAR CONTRASEÑA*/
.icon-circle-wrapper {
    display: flex;
    justify-content: center;
}

.icon-circle-outer {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #D7E3F4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle-inner {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #B1CBEF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}
