@model IEnumerable<ALFINapp.Infrastructure.Persistence.Models.SupervisorDTO>
@{
    ViewData["Title"] = "Ventas del Usuario";
    var usuarioNombre = ViewData["UsuarioNombre"];
}

@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
}

<div class="container mt-4">
    <!-- 游댳 Mensaje de informaci칩n -->
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Graficos y Reportes</h4>
        <p>En esta secci칩n se pueden visualizar las derivaciones realizadas por el usuario seleccionado.</p>
        <hr>
        <p class="mb-0">Seleccione el supervisor del cual desea visualizar sus .</p>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <form id="filterForm">
                <div class="row">
                    <div class="col-md-4">
                        <label for="supervisorSelect" class="form-label">Seleccionar Supervisor:</label>
                        <select id="supervisorSelect" class="form-select" onchange="crearGrafico(this.value)">
                            <option value="">Todos</option>
                        </select>
                    </div>
                    <div class="col-md-4 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">N칰mero de Clientes Derivados por Supervisor</h5>
            <canvas id="chartSupervisores"></canvas>
        </div>
    </div>
</div>

<div class="modal fade" id="GeneralTemplateModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="GeneralTemplateTitleModalLabel"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalContentGeneralTemplate">
                    <!-- Aqu칤 se cargar치 el formulario de agregar cliente -->
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @if (TempData["Message"] != null)
    {
        <script>
            Swal.fire({
                title: 'Mensaje', // T칤tulo del mensaje
                text: '@Html.Raw(TempData["Message"] as string)', // Usamos Html.Raw para evitar que se escape el texto
                icon: 'info', // Tipo de 칤cono (info, success, error, warning)
                confirmButtonText: 'Aceptar' // Texto del bot칩n de confirmaci칩n
            });
        </script>
    }
    @if (TempData["MessageError"] != null)
    {
        <script>
            Swal.fire({
                title: 'Error', // T칤tulo del mensaje
                text: '@Html.Raw(TempData["MessageError"] as string)', // Usamos Html.Raw para evitar que se escape el texto
                icon: 'error', // Tipo de 칤cono (info, success, error, warning)
                confirmButtonText: 'Aceptar' // Texto del bot칩n de confirmaci칩n
            });
        </script>
    }

    <script src="~/js/modificacionesfunctions.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/Administrador/Administrador.js?v=@DateTime.Now.Ticks"></script>
}