@section Styles {
    <style>
        .badge-estado {
            padding: 2px 14px;
            border-radius: 40px;
            font-weight: 600;
            font-size: 0.85rem;
        }

        .badge-enviado,
        .badge-reag-enviado {
            background: #80E2A5;
            color: #0B4300;
        }

        .badge-no-enviado {
            background: #FF9292;
            color: #450202;
        }

        .badge-reag-pendiente {
            background-color: #ffe69c;
            color: #664d03;
        }

        .modal-dialog.modal-xxl {
            max-width: 80% !important;
        }
    </style>
}


<div class="">
    <h3 class="mb-3">Operaciones</h3>

    <div class="card border-0 shadow-sm mb-3">
        <div class="card-body">
            <ul class="nav nav-tabs" id="operacionesTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="derivaciones-tab" data-bs-toggle="tab"
                        data-bs-target="#derivaciones-pane" type="button" role="tab" aria-controls="derivaciones-pane"
                        aria-selected="true">Derivaciones</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="reagendamientos-tab" data-bs-toggle="tab"
                        data-bs-target="#reagendamientos-pane" type="button" role="tab"
                        aria-controls="reagendamientos-pane" aria-selected="false">Reagendamientos</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="tab-content" id="operacionesTabContent">
        <div class="tab-pane fade show active" id="derivaciones-pane" role="tabpanel" aria-labelledby="derivaciones-tab"
            tabindex="0">
            <partial name="Components/_PartialDerivaciones" />
        </div>

        <div class="tab-pane fade" id="reagendamientos-pane" role="tabpanel" aria-labelledby="reagendamientos-tab"
            tabindex="0">
            <partial name="Components/_PartialReagendamientos" />
        </div>
    </div>
</div>


<!-- MODALS -->
<partial name="Modals/_ModalEvidenciasDerivacionesReagendamientos" />
@* <partial name="Modals/_ModalReagendamiento" /> *@
<partial name="Modals/_ModalEvidenciasDerivaciones" />
<partial name="Modals/_ModalReagendamiento" />
<partial name="Modals/_ModalHistoricoReagendamiento" />


@section Scripts {
    <script src="~/js/Operaciones/Operaciones.js" asp-append-version="true"></script>
    <script src="~/js/Operaciones/OperacionesReagendacion.js" asp-append-version="true"></script>
    <script src="~/js/Operaciones/OperacionesEvidencia.js" asp-append-version="true"></script>
    @*     <script src="~/js/Operaciones/Operaciones.js"></script> *@

    <script src="~/js/Operaciones/derivaciones.js" asp-append-version="true"></script>
    <script src="~/js/Operaciones/reagendamientos.js" asp-append-version="true"></script>
    <script src="~/js/Operaciones/historico.js" asp-append-version="true"></script>
    @* <script src="~/js/Operaciones/operaciones.js"></script> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
}
