@model List<Usuario>

@{
    ViewData["Title"] = "Asignación de Asesores";
    var usuarioNombre = ViewData["UsuarioNombre"];
}

<h3>Asesores Asignados</h3>
<div class="row">
    <div>
        <label for="selectAsesor" class="form-label">Seleccione un Asesor</label>
        <select class="form-select" id="selectAsesor" name="selectAsesor" onchange="cargarInterfazAsesor(this.value)">
            <option value="">Seleccione un Asesor</option>
            @foreach (var Asesores in Model)
            {
                <option value="@Asesores.IdUsuario">@Asesores.NombresCompletos</option>
            }
        </select>
    </div>

    <div class="spacing"></div>

    <div id="interfazAsesorSelect" class="row mt-10" style="display: none;">
        <!-- Aqui se cargara la vista parcial del asesor seleccionado -->
    </div>
    <hr>
</div>
