@model ALFINapp.Models.BaseCliente

@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/agregarcliente.css">
    <link rel="stylesheet" href="~/css/main_page.css">
}


<div class="container mt-4">
    <div id="container dni-section mb-3">
        <h3>Busqueda de Clientes</h3>
        <div class="alert alert-info" role="alert">
            <h5>Informacion: </h5>
            <p class="mb-0">Un cliente para ser tipificado debe de haber sido enviado por el banco durante el <strong>presente mes. Si el cliente no se encuentra durante este mes no podra ser tipificado. </strong> </p>
        </div>
        <div class="form-group">
            <label for="DNI"> Ingrese un DNI o Numero de Telefono</label>
            <input type="text" id="dnicliente" class="form-control" placeholder="Ingrese DNI">
            <br>
            <button id="consultar-dni" class="btn btn-primary" onclick="validarDNI()"><i class="bi bi-search"></i>
                Consultar DNI</button>
            <a href="javascript:void(0)" id="consultar-telefono" class="btn btn-primary" onclick="validarTelefono()"><i
                    class="bi bi-search"></i> Consultar Telefono</a>
        </div>
    </div>

    <div id="datos-cliente-existente" style="display: none;">
    </div>

    <div class="modal fade" id="GeneralTemplateModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="GeneralTemplateTitleModalLabel"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="modalContentGeneralTemplate">
                        @*Model Template General*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="error-message" class="alert alert-danger" style="display: none;">
    </div>
</div>

@section Scripts {
    <script src="~/js/Consulta/Consulta.js" asp-append-version="true"></script>
}